<style>
	.print-format table, .print-format tr, 
	.print-format td, .print-format div, .print-format p {
		line-height: 150%;
		vertical-align: middle;
	}
	@media screen {
		.print-format {
			width: 4in;
			padding: 0.10in;
			/* min-height: 8in; */
		}
	}
</style>

{% if letter_head %}
    {{ letter_head }}
{% endif %}

<p class="text-center" style="margin-bottom: 1rem; font-size: smaller;">
	{{ doc.company }}<br>
	{{ _("GSTIN/UIN: 33AAATA0037BPZ3") }}<br>
	<b>{{ doc.select_print_heading or _("Sales Order") }}</b><br>
</p>
<p style="font-size: smaller;">
	<b>{{ _("Receipt No") }}:</b> {{ doc.name }}<br>
	<b>{{ _("Cashier") }}:</b> {{ doc.owner }}<br>
	<b>{{ _("Customer") }}:</b> {{ doc.customer_name }}<br>
	{%- if doc.custom_fs_account_number -%}
		<b>{{ _("FS Account") }}:</b>
		{{ doc.custom_fs_account_number }}<br>
	{%- endif -%}
	<b>{{ _("Posting Date") }}:</b> {{ doc.get_formatted("posting_date") }},&nbsp;
	<b>{{ _("Time") }}:</b> {{  doc.get_formatted("posting_time") }}<br>
</p>

<!-- <hr> -->
<table style="width: 100%">
	<tr style="font-size: smaller;">
		<th width="50%"><b>{{ _("Item") }}</b></th>
		<th width="10%" class="text-right"><b>{{ _("Qty") }}</b></th>
		<th width="20%" class="text-right"><b>{{ _("Rate") }}</b></th>
		<th width="20%" class="text-right"><b>{{ _("Amount") }}</b></th>
	</tr>
	{%- for item in doc.items -%}
	<tr>
		<td style="font-size: x-small;">
			<b>{{ item.item_code }}</b>:&nbsp;
			{%- if item.item_name != item.item_code -%}
				<b>{{ item.item_name }}</b>
			{%- endif -%}
			{%- if item.serial_no -%}
				<br><b>{{ _("SR.No") }}:</b><br>
				{{ item.serial_no | replace("\n", ", ") }}
			{%- endif -%}
		</td>
		<td class="text-right" style="font-size: x-small;"><b>{{ item.qty }}</b></td>
		<td class="text-right" style="font-size: x-small;">
			<!-- <b>{{ item.get_formatted("net_rate") }}</b> -->
			<b>{{ item.net_rate }}</b>
		</td>
		<td class="text-right" style="font-size: x-small;">
			<b>{{ item.get_formatted("amount") }}</b></td>
	</tr>
	{%- endfor -%}
</table>

<p class="text-right" style="font-size: smaller;">
	{% if doc.flags.show_inclusive_tax_in_print %}
		{{ _("Total Excl. Tax") }}: {{ doc.get_formatted("net_total", doc) }}<br>
	{% else %}
		{{ _("Total") }}: {{ doc.get_formatted("total", doc) }}<br>
	{% endif %}

	{%- for row in doc.taxes -%}
		{%- if not row.included_in_print_rate or doc.flags.show_inclusive_tax_in_print -%}
			{{ row.description }}: {{ row.get_formatted("tax_amount", doc) }}<br>
		{%- endif -%}
	{%- endfor -%}

	{%- if doc.discount_amount -%}
		{{ _("Discount") }}: {{ doc.get_formatted("discount_amount") }}<br>
	{%- endif -%}

	<b>{{ _("Grand Total") }}:</b> {{ doc.get_formatted("grand_total") }}<br>

	{%- if doc.rounded_total -%}
		<b>{{ _("Rounded Total") }}:</b> {{ doc.get_formatted("rounded_total") }}<br>
	{%- endif -%}

	{%- for row in doc.payments -%}
		{%- if row.amount != 0 -%}
			{{ row.mode_of_payment }}: {{ row.get_formatted("amount", doc) }}<br>
		{%- endif -%}
	{%- endfor -%}

	<b>{{ _("Paid Amount") }}:</b> {{ doc.get_formatted("paid_amount") }}<br>

	{%- if doc.change_amount -%}
		<b>{{ _("Change Amount") }}:</b> {{ doc.get_formatted("change_amount") }}<br>
	{%- endif -%}
</p>

<br>
{%- if doc.custom_fs_transfer_status -%}
<p style="font-size: smaller;">
	<b>{{ _("FS Transfer Status") }}: {{ doc.custom_fs_transfer_status }}</b><br>
</p>
{%- endif -%}
<!-- <p style="font-size: smaller;">
	<b>{{ _("Remarks") }}:</b> {{ doc.remarks }}
</p> -->
<p class="text-center" style="font-size: smaller;">{{ _("Thank you, please visit again.") }}</p>